html{
    background: grey;
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    margin-top: 30px;
    padding: 10px;
    border: 10px;
    border-style: double;
    border-color: rgb(87, 81, 81);
}

.DivCV{
    display: flex;
    align-items: center;
}


h1{
    color: red;
    text-align: center;
}

h3{
    text-align: center;
}

img{
    height: 150px;
    width: 150px;
}




